---
import { Icon } from "astro-icon/components";
import { ModeToggle } from "./ModeToggle";
import { NavMenu } from "./Navigation";
import HyperionLogo from "./icons/HyperionLogo.svg";
---

<nav class="flex w-full border-b-2 text-foreground divide-x">
    <div class="flex items-center justify-start p-8 gap-4 text-3xl basis-1/3">
        <a href="/" aria-label="HyperionU - Home">
            <HyperionLogo width={48} height={48} fill="currentColor" />
        </a>
    </div>
    <div class="flex items-center justify-center p-8 gap-12 basis-1/3">
        <NavMenu client:load />
    </div>
    <div class="flex items-center justify-center p-8 gap-12 grow">
        <a href="https://github.com/HyperionU" target="_blank" aria-label="HyperionU - Github">
            <Icon name="lucide:github" />
        </a>
        <a href="https://codepen.io/korvid" target="_blank" aria-label="HyperionU - Codepen">
            <Icon name="lucide:codepen" />
        </a>
    </div>
    <div class="flex items-center justify-start p-8 gap-4 grow">
        <ModeToggle client:load />
    </div>
</nav>